/* CSS declarations go here */
@import "bootstrap.min.css";

footer {
	margin-top: 5em;
}

.control-done {
	margin-right: 1em;
}

.control-done a:hover {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

.task h3 .left {
	display: block;
	float: left;
}
.task h3 .right {
	display: block;
	float: left;
}
