/* CSS declarations go here */
@import "bootstrap.min.css";

#AddTask {
	margin-bottom: 2em;
}

.control-done {
	text-align: center;
}
.control-done a:hover {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}
